.Image img {
  max-inline-size: 100%;
  block-size: auto;
}

.Image:hover {
  transform: translateY(3px);
}

.Image {
  object-fit: cover;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.Image.bottom-border {
  border-bottom: 3px solid #CE1331;
}



