.container {
  margin: 15em;
  max-width: 1200px;
}

.container .container-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

.container-body .split-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}