.container {
  margin: 15em;
  max-width: 1200px;
  color: white;
}

.container .container-block-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

.container-block-1 .split-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-block-1 article h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 32px;
  letter-spacing: 0.3px;
  font-size: 26px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.container-block-1 article h2::after {
  content: "\00a0\00a0";
}

.container-block-1 article p:first-of-type{
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.container-block-1 article h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: #CE1331;
  margin-top: 41px;
  margin-bottom: 14px;
  font-size: 16px;
}

.container-block-1 article p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.container-block-2 {
  margin-top: 230px;
  text-align: center;
}

.container-block-2 h2 {
  font-size: 44px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.container-block-2 .images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}