/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  background-color: #0E1414;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.modal{
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   overflow: auto;
}

.modal-container{
   background-color: #fefffe;
   margin: 10% auto;
   width: fit-content;
   padding: 10px;
}

.modal-body img {
  object-fit: cover;
}

/* Open Sans Regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

/* Open Sans Light */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

/* Open Sans Bold */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

/* Open Sans Extra Bold */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extra Bold'), local('OpenSans-ExtraBold'), url('assets/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
}

/* Open Sans Semi Bold */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semi Bold'), local('OpenSans-SemiBold'), url('assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}